.container {
    border: 1px solid red;
    width: 50%;
    margin: 0 auto;

    input[type=checkbox] {
        width: 100%;
        opacity: 0;
        position: absolute;
        cursor: pointer;
    }

    label {
        border: 1px solid red;
        background-color: pink;
        width: 100%;
        display: block;
    }

    section {
        display: none;
    }
}

#input-one:checked ~ .section-one {
    display:block;
}

#input-two:checked ~ .section-two {
    display:block;
}

#input-three:checked ~ .section-three {
    display:block;
}